{% extends "layout.html" %}
{% block container %}

<div class="max-w-5xl mx-auto p-6">
    <div class="mb-6 flex justify-between items-center">
        <h3 class="text-lg font-semibold text-heading">Listado de Alumnos</h3>
        <a href="alumnos"
           class="text-white bg-brand hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5">
            + Nuevo Alumno
        </a>
    </div>

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left text-body">
            <thead class="text-sm text-heading">
                <tr>
                    <th class="px-6 py-3 font-semibold">Nombre</th>
                    <th class="px-6 py-3 font-semibold">Apellido</th>
                    <th class="px-6 py-3 font-semibold">Correo</th>
                    <th class="px-6 py-3 font-semibold text-center">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for alum in alumno %}
                <tr class="bg-neutral-primary border-b border-default">
                    <td class="px-6 py-4 font-medium text-heading">
                        {{ alum.nombre }}
                    </td>
                    <td class="px-6 py-4">
                        {{ alum.apaterno }}
                    </td>
                    <td class="px-6 py-4">
                        {{ alum.email }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        <a href="detalles?id={{ alum.id }}"
                           class="text-indigo-600 hover:underline font-medium">
                            Ver detalles
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}